:root {
  --center: url("/public/assets/face-images/--center.png");

  --t-1: url("/public/assets/face-images/--t-1.png");
  --t-2: url("/public/assets/face-images/--t-2.png");
  --t-3: url("/public/assets/face-images/--t-3.png");
  --t-4: url("/public/assets/face-images/--t-4.png");

  --tr-1: url("/public/assets/face-images/--tr-1.png");
  --tr-2: url("/public/assets/face-images/--tr-2.png");
  --tr-3: url("/public/assets/face-images/--tr-3.png");
  --tr-4: url("/public/assets/face-images/--tr-4.png");

  --r-1: url("/public/assets/face-images/--r-1.png");
  --r-2: url("/public/assets/face-images/--r-2.png");
  --r-3: url("/public/assets/face-images/--r-3.png");
  --r-4: url("/public/assets/face-images/--r-4.png");

  --br-1: url("/public/assets/face-images/--br-1.png");
  --br-2: url("/public/assets/face-images/--br-2.png");
  --br-3: url("/public/assets/face-images/--br-3.png");
  --br-4: url("/public/assets/face-images/--br-4.png");

  --b-1: url("/public/assets/face-images/--b-1.png");
  --b-2: url("/public/assets/face-images/--b-2.png");
  --b-3: url("/public/assets/face-images/--b-3.png");
  --b-4: url("/public/assets/face-images/--b-4.png");

  --bl-1: url("/public/assets/face-images/--bl-1.png");
  --bl-2: url("/public/assets/face-images/--bl-2.png");
  --bl-3: url("/public/assets/face-images/--bl-3.png");
  --bl-4: url("/public/assets/face-images/--bl-4.png");

  --l-1: url("/public/assets/face-images/--l-1.png");
  --l-2: url("/public/assets/face-images/--l-2.png");
  --l-3: url("/public/assets/face-images/--l-3.png");
  --l-4: url("/public/assets/face-images/--l-4.png");

  --tl-1: url("/public/assets/face-images/--tl-1.png");
  --tl-2: url("/public/assets/face-images/--tl-2.png");
  --tl-3: url("/public/assets/face-images/--tl-3.png");
  --tl-4: url("/public/assets/face-images/--tl-4.png");
}

/* Preload images to avoid flickering on first animations */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("/public/assets/face-images/--center.png")
    url("/public/assets/face-images/--t-1.png") url("/public/assets/face-images/--t-2.png")
    url("/public/assets/face-images/--t-3.png") url("/public/assets/face-images/--t-4.png")
    url("/public/assets/face-images/--tr-1.png") url("/public/assets/face-images/--tr-2.png")
    url("/public/assets/face-images/--tr-3.png") url("/public/assets/face-images/--tr-4.png")
    url("/public/assets/face-images/--r-1.png") url("/public/assets/face-images/--r-2.png")
    url("/public/assets/face-images/--r-3.png") url("/public/assets/face-images/--r-4.png")
    url("/public/assets/face-images/--br-1.png") url("/public/assets/face-images/--br-2.png")
    url("/public/assets/face-images/--br-3.png") url("/public/assets/face-images/--br-4.png")
    url("/public/assets/face-images/--b-1.png") url("/public/assets/face-images/--b-2.png")
    url("/public/assets/face-images/--b-3.png") url("/public/assets/face-images/--b-4.png")
    url("/public/assets/face-images/--bl-1.png") url("/public/assets/face-images/--bl-2.png")
    url("/public/assets/face-images/--bl-3.png") url("/public/assets/face-images/--bl-4.png")
    url("/public/assets/face-images/--l-1.png") url("/public/assets/face-images/--l-2.png")
    url("/public/assets/face-images/--l-3.png") url("/public/assets/face-images/--l-4.png")
    url("/public/assets/face-images/--tl-1.png") url("/public/assets/face-images/--tl-2.png")
    url("/public/assets/face-images/--tl-3.png") url("/public/assets/face-images/--tl-4.png");
}
